:root {
  --logo-text-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #fff;
  --hover-focus-color: #2196f3;
  --hero-footer-color: #2f303a;
  --features-bcg-color: #e5e5e5;
  --team-bcg-color: #f5f4fa;
  --svg-color: #afb1b8;
  --footer-contact-color: rgba(255, 255, 255, 60%);
}
/* стили index.html */
body {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header {
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-item {
  color: var(--hover-focus-color);
}

/* sait-nav */
.sait-nav {
  display: flex;
  align-items: center;
}

.sait-nav .item:not(:last-child) {
  margin-right: 50px;
}
.sait-nav .item:last-child {
  margin-right: 0;
}

.first-child {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.color-link {
  color: var(--title-text-color);
  position: relative;
}

.current::after {
  content: "";
  opacity: 1;
  position: absolute;
  display: block;
  bottom: -35.5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-focus-color);
}

.link.current {
  color: var(--hover-focus-color);
}

.header .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--hover-focus-color);
}

.logo:hover,
.logo:focus {
  color: inherit;
}

/* contact  */
.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact .item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact .item + .item {
  margin-left: 50px;
}

.contact .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--hover-focus-color);
}

.svg-icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contact .svg-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero section */
.hero {
  background-color: var(--hero-footer-color);
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 200px;
}
.hero .text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 106px;
  padding-left: 250px;
  padding-right: 250px;
}
/* .hero  */
.button {
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
}

.overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:focus-within .icon {
  fill: var(--hover-focus-color);
  color: var(--hover-focus-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form:focus {
  outline-color: var(--hover-focus-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);

  letter-spacing: 0.01em;
}

.input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.input:focus {
  outline-color: var(--hover-focus-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.textarea input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  padding-left: 24px;
  margin-top: 20px;
}

.checkbox-link {
  color: var(--hover-focus-color);
  text-decoration-line: underline;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  bottom: 127px;
  left: 48px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--hover-focus-color);
  background-origin: border-box;
  border: var(--hover-focus-color);
  background-image: url(../img/icon-check.svg);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  left: 160px;
  bottom: 40px;
  background-color: #188ce8;
  width: 200px;
  margin-top: 30px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--hover-focus-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
}

.svg-icon-person {
  position: absolute;
  left: 55.5px;
  top: 103px;
}

.svg-icon-phone {
  position: absolute;
  left: 55.5px;
  top: 171px;
}

.svg-icon-email {
  position: absolute;
  left: 55.5px;
  top: 239px;
}

/* features-section */

.features .list {
  display: flex;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features .item {
  width: 270px;
}

.svg {
  background-color: rgba(245, 244, 250, 1);
  height: 120px;
}

.features .svg-icon {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  margin-top: 30px;
  text-transform: uppercase;
}

.features .subtitle {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

.features .list {
  display: flex;
}
.features .img {
  display: block;
}
.features .gallery {
  margin-right: 30px;
}
.thumb {
  position: relative;
  bottom: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  text-align: center;
}
.thumb .title {
  margin: 0;
  padding-top: 27px;
  padding-right: auto;
  padding-bottom: 27px;
  padding-left: auto;
}

.features .gallery:last-child {
  margin-right: 0;
}

.features .headline {
  padding-top: 94px;
}

.headline {
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 50px;
}

/* team section */
.team {
  background-color: var(--team-bcg-color);
}
.team .list {
  display: flex;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.team .item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .item:last-child {
  margin-right: 0;
}

.team .card {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team .text {
  color: var(--primary-text-color);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.team .link {
  color: #afb1b8;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .link:hover,
.team .link:focus {
  color: var(--primary-white-color);
  background-color: var(--hover-focus-color);
}

.list-icon {
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}

.team .item-icon:not(:last-child) {
  margin-right: 10px;
}

.team .svg-icon {
  /* width: 44px; */
  fill: currentColor;
}

.item-icon .twitter {
  padding-top: 10px;
}

/* client section */
.clients .list {
  display: flex;
}
.clients .item:not(:last-child) {
  margin-right: 30px;
}

.clients .link {
  color: var(--svg-color);
  display: block;
  width: 170px;
  height: 92px;
  border-radius: 5px;
  border: 1px solid rgba(175, 177, 184, 1);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover,
.clients .link:focus {
  color: var(--hover-focus-color);
  border: 1px solid var(--hover-focus-color);
}

.clients .svg-icon {
  /* width: 170px;
  height: 92px; */
  fill: currentColor;
}
/* footer section */
.footer {
  background-color: var(--hero-footer-color);
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  color: var(--primary-white-color);
}
.footer .text {
  color: var(--primary-white-color);
  font-style: inherit;
}
.footer p {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer .link {
  color: var(--footer-contact-color);
  display: inline-block;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address:first-child {
  margin-bottom: 9px;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--hover-focus-color);
}

.flexbox {
  display: flex;
  align-items: baseline;
}

.address {
  width: 231px;
  margin-right: 70px;
}

.footer .title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social {
  display: flex;
}

.footer .title {
  margin-bottom: 20px;
}

.social-link {
  margin-right: 93px;
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

.social .svg-icon {
  fill: currentColor;
}
.social .item {
}

.social .link {
  display: block;
  width: 44px;
  height: 44px;
  color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.form-section {
  display: flex;
}

.form-section input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.email {
  width: 358px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--hero-footer-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.form-button {
  width: 200px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

.form .svg-icon {
  margin-left: 10px;
}

/* стили portfolio.html */

.filter-section .button {
  background-color: var(--team-bcg-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-section {
  padding-bottom: 0;
}
.filter-section .item {
  margin-right: 8px;
}

.filter-section .item:last-child {
  margin-right: 0;
}

.filter-section .list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-section .button:hover,
.filter-section .button:focus {
  background-color: var(--hover-focus-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* project gallery */
.project {
  padding-top: 0;
}

.link-gallery {
  display: block;
  text-decoration: none;
  color: inherit;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-card {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-gallery:hover .overlay-card,
.link-gallery:focus .overlay-card {
  transform: translateY(-100%);
}

.link-gallery:hover,
.link-gallery:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project .list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project .img {
  display: block;
}

.project .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.project .card {
  border: 1px solid #eeeeee;
  border-top: transparent;
  width: 370px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
